<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MyGUI.UserOptions" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <MyGUI.UserOptions>
            <setting name="ExEdS" serializeAs="String">
                <value>Not Set</value>
            </setting>
            <setting name="TermS" serializeAs="String">
                <value>Not Set</value>
            </setting>
            <setting name="Usr2S" serializeAs="String">
                <value>Not Set</value>
            </setting>
            <setting name="Usr3S" serializeAs="String">
                <value>On</value>
            </setting>
            <setting name="BtnExEdS" serializeAs="String">
                <value>Tools</value>
            </setting>
            <setting name="BtnTermS" serializeAs="String">
                <value>Tools</value>
            </setting>
            <setting name="BtnUsr2S" serializeAs="String">
                <value>Tools</value>
            </setting>
            <setting name="BtnUsr3S" serializeAs="String">
                <value>Options</value>
            </setting>
            <setting name="BBSnameS" serializeAs="String">
                <value>No Name</value>
            </setting>
            <setting name="SysOpnameS" serializeAs="String">
                <value>No Name</value>
            </setting>
        </MyGUI.UserOptions>
    </userSettings>
</configuration>